.row
  .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-12.hidden-xs
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      .carousel-inner
        .item.active
          =image_tag('http://lorempixel.com/750/460/sports/4')
          .carousel-caption
            SPORTS
        .item
          =image_tag('http://lorempixel.com/750/460/sports/5')
          .carousel-caption
            MORE SPORTS
        .item
          =image_tag('http://lorempixel.com/750/460/animals/9/')
          .carousel-caption
            ANIMALS
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right

.page-header
  %h1 AFDC Grants

%p
  Our goal is to provide the financial means for the next generation of ultimate players to improve their skills,
  influence their peers, recruit more girls (hello!), and share the Spirit of the Game that we love.

%p
  Remember when you started playing? It was tough getting traction in middle school or high school. You might
  have gotten stomped more times than you wish to remember. But traveling to tournaments and playing against
  real competition brought the game to life. And you fell in love. And you got your friends involved. And you’re still playing today.

%p
  Funds donated to AFDC Grants will go toward grants for young Georgia ultimate players to take part in skills
  and fitness camps. These experiences will help them become better, stronger players and pass on their growing
  knowledge to others. Recipients will be selected according to several criteria including financial need, athletic
  ability, leadership, community service, and passion for the sport.

%p
  Our longer-term plans include helping youth and college teams pay for uniforms, tournament fees, and travel
  expenses, and we’re actively exploring additional ways to support the Georgia ultimate community.

%p
  %strong Will you consider making a tax-deductible donation to AFDC Grants this year?
