.page-header
  %h1
    AFDC Grants
    %small=@product.name

.row
  .col-md-4
    =image_tag @product.image.url(:medium)
  .col-md-8
    %p
      %b Description:
      = @product.description
    %p
      %b Price:
      = number_to_currency @product.price
    =form_tag cart_items_path, class: 'inline-form', role: 'form' do
      =hidden_field_tag :product_id, @product.id
      .row
        .col-md-3
          .form-group
            %label.sr-only Quantity
            =number_field_tag :quantity, 1, class: 'form-control col-md-1'
        .col-md-3
          %button.btn.btn-primary{type: "submit"} #{fa_icon 'shopping-cart'} Add to Cart
